---
layout: page
title: Featured
permalink: /featured/
tags: [Featured]
description: "Arquivo dos Featured posts"
---
<h2>{{ Featured posts | capitalize }}</h2>
<ul class="post-list">
{% for post in site.posts %}
  {% if post.featured %}
    <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}{% if post.subtitle %} (<div class="subtitle">{{ post.subtitle }}</div>){% endif %}<span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%d %b, %Y" | replace:'Jan','Jan' | replace:'Feb','Fev' | replace:'Mar','Mar' | replace:'Apr','Abr' | replace:'May','Mai' | replace:'Jun','Jun' | replace:'Jul','Jul' | replace:'Aug','Ago' | replace:'Sep','Set' | replace:'Oct','Out' | replace:'Nov','Nov' | replace:'Dec','Dez' }}</time></a></li>
  {% endif %}
{% endfor %}
</ul>
