<div class="post-reading readtime">
    {% if site.readtime %}
    {% if site.wpm %}
    {% assign readtime = content | strip_html | number_of_words | append: '.0'| split:'.' | first | divided_by:site.wpm %}
    {% else %}
    {% assign readtime = content | strip_html | number_of_words | append: '.0' | split:'.' | first | divided_by:180 %}
    {% endif %}
    {% endif %}
    {% if site.readtime %}
    <i class="fa fa-clock-o"></i>
    {% if readtime > 1 and readtime < 1.5 %}1 minuto de leitura{% endif %}
    {% if readtime > 1.5 %}<span class="time">{{ readtime }}</span> minutos de leitura{% endif %}
    {% if readtime <= 1 %}Menos de 1 minuto de leitura{% endif %}
    {% endif %}
</div>