<div class="social">
    <ul class="social-buttons cf">
        <li>
            <a href="http://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}" class="socialite facebook-like" data-href="{{site.url}}{{page.url}}" data-send="false" data-layout="box_count" data-width="60" data-show-faces="false" rel="nofollow" target="_blank"><span class="vhidden">Compartilhe no Facebook</span></a>
        </li>
        <li>
            <a href="https://plus.google.com/share?url={{site.url}}{{page.url}}" class="socialite googleplus-one" data-size="tall" data-href="{{site.url}}{{page.url}}" rel="nofollow" target="_blank"><span class="vhidden">Compartilhe no Google+</span></a>
        </li>
        <li>
            <a href="http://twitter.com/share" class="socialite twitter-share" data-text="{{post.title}}" data-url="{{site.url}}{{page.url}}" data-count="vertical" rel="nofollow" target="_blank"><span class="vhidden">Compartilhe no Twitter</span></a>
        </li>
        <li>
            <a href="http://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{page.url}}&title={{post.title}}" class="socialite linkedin-share" data-url="{{site.url}}{{page.url}}" data-counter="top" rel="nofollow" target="_blank"><span class="vhidden">Compartilhe no LinkedIn</span></a>
        </li>
    </ul>
</div>