---
layout: default
---

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href="{{site.url}}" style="background-image: url('{{ site.logo }}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    <div class="custom-links">
      {% for social in site.social %}
        {% if social.url %}
        <span class="menu-{{ social.icon }}">
          <a class="icon-{{ social.icon }}" href="{{ social.url }}">
            <i class="fa fa-{{ social.icon }}"></i>
          </a>
          {% if forloop.rindex != 1 %}
            &nbsp;&nbsp;·&nbsp;&nbsp;
          {% endif %} 
        </span>
        {% endif %}        
      {% endfor %}
      <br />
      <br />
      <a href="/about/">About</a>
      &nbsp;&nbsp;·&nbsp;&nbsp;
      <a href="{{ site.url }}/categories/">Categories</a>
      &nbsp;&nbsp;·&nbsp;&nbsp;
      <a href="{{ site.url }}/projects/">Projects</a>
    </div>
</header>

<script>
    (function ($) {
        "use strict";

        $(document).ready(function(){

            var $window = $(window),
                $image = $('.teaserimage-image');
            $window.on('scroll', function() {
                var top = $window.scrollTop();

                if (top < 0 || top > 1500) { return; }
                $image
                    .css('transform', 'translate3d(0px, '+top/3+'px, 0px)')
                    .css('opacity', 1-Math.max(top/700, 0));
            });
            $window.trigger('scroll');

        });

    }(jQuery));
    /* round time values */
    $(document).ready(function() {
    $(".time").text(function (index, value) {
      return Math.round(parseFloat(value));
    });
    $(".hour").text(function (index, value) {
      return Math.floor(parseFloat(value));
    });
  });
</script>

<main class="content" role="main">

#Many Thanks
By its support. If you have any question, drop me a mail talk [at] stpa.co - maybe i can help. Thanks again =)


</main>

{% include disqus/count.html %}
