---
---
<!DOCTYPE html>
<html>
    {% include head.html %}
    <body itemscope itemtype="http://schema.org/Article">
        {% include analytics.html %}
        {% include header.html %}
        <main class="content" role=
        "main">
        <article class="post">
        {% if page.image %}
        <div class="article-image">
            <div class="post-image-image" style="background-image: url({% if page.image %}{{ page.image }}{% endif %})">
                article image
            </div>
            <div class="post-meta">
                <h1 class="post-title">{{ page.title }}</h1>
                <h2 class="post-subtitle">{{ page.subtitle }}</h2>
                {% include readtime.html %}
                <div class="cf post-meta-text">
                    <div class="author-image" style="background-image: url({{ site.author_image }})"></div>
                    <h4 class="author-name">{{ site.author }}</h4>
                    em
                    <time itemprop="datePublished" datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string | replace:'Jan','Jan' | replace:'Feb','Fev' | replace:'Mar','Mar' | replace:'Apr','Abr' | replace:'May','Mai' | replace:'Jun','Jun' | replace:'Jul','Jul' | replace:'Aug','Ago' | replace:'Sep','Set' | replace:'Oct','Out' | replace:'Nov','Nov' | replace:'Dec','Dez' }}</time>
                    <!-- , tagged on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}} -->
                </div>
                <div style="text-align:center">
                    <a href="#topofpage" class="topofpage"><i class="fa fa-angle-down"></i></a>
                </div>
            </div>
        </div>
        <script>
                (function ($) {
                        "use strict";
                        $(document).ready(function(){
                            
                            var $window = $(window),
                                $image = $('.post-image-image');
                            $window.on('scroll', function() {
                                var top = $window.scrollTop();
                                if (top < 0 || top > 1500) { return; }
                                $image
                                    .css('transform', 'translate3d(0px, '+top/3+'px, 0px)')
                                    .css('opacity', 1-Math.max(top/700, 0));
                            });
                            
                                var height = $('.article-image').height();
                                //console.debug(height);
                                $('.post-content').css('padding-top', height + 'px');
                                //console.debug($('.post-content').css('padding-top'));
                                //$('.post-sharer').css('top', (height) + 'px');
                                autoHideSharerWhenHasImage();
                                $('a[href*=#]:not([href=#])').click(function() {
                                //if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                                    var target = $(this.hash);
                                    target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                                    if (target.length) {
                                    $('html,body').animate({
                                        scrollTop: target.offset().top
                                    }, 500);
                                    return false;
                                    }
                                //}
                                });
                        
                            $window.trigger('scroll');
                        });
                            
                }(jQuery));
        </script>
        {% else %}
        <div class="noarticleimage">
            <div class="post-meta">
                <h1 class="post-title">{{ page.title }}</h1>
                <div class="cf post-meta-text">
                    <div class="author-image" style="background-image: url({{ site.author_image }})">Blog Logo</div>
                    <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ page.author }}</h4>
                    em
                    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string | replace:'Jan','Jan' | replace:'Feb','Fev' | replace:'Mar','Mar' | replace:'Apr','Abr' | replace:'May','Mai' | replace:'Jun','Jun' | replace:'Jul','Jul' | replace:'Aug','Ago' | replace:'Sep','Set' | replace:'Oct','Out' | replace:'Nov','Nov' | replace:'Dec','Dez' }}</time>
                    <!-- , tagged on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}} -->
                    &nbsp;-&nbsp; {% include readtime.html %}
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <script>
                                                    $(document).ready(function(){
                                                autoHideSharerWhenHasNotImage();
                                    }(jQuery));
        </script>
        <style>
                                    .post-meta { padding-bottom: 13px; margin-top: 0; }
                                    .content article { padding: 4px 0; }
                                    @media (max-width: 400px) {
                                        .post-meta { padding-bottom: 13px; margin-top: 90px !important; }
                                    }
        </style>
        {% endif %}
        <section class="post-content">
            <a name="topofpage"></a>
            <div style="display: none;" itemprop="wordCount">{% assign wordCount = content | strip_html | number_of_words %}{{ wordCount }}</div>
            <div itemprop="articleBody">
                <div class="post-sharer">
                    {% include sharer.html %}
                </div>
                {{content}}
            </div
        </section>
        <!--         <footer class="post-footer">
                                                                                    {% include sharer.html %}
        </footer> -->
        {% if page.comments %}
        {% include disqus/comments.html %}
        {% endif %}
        <div class="bottom-teaser cf">
            <div class="isLeft">
                <h5 class="index-headline featured"><span>Escrito por</span></h5>
                <section class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
                    <div class="author-image" style="background-image: url({{site.author_image}})"><img itemprop="image" src="{{ site.author_image }}" style="display:none;"></div>
                    <h4 itemprop="name">{{ site.author }}</h4>
                    <p class="bio">{{site.author_bio}}</p>
                    <hr>
                    <p class="published">Publicado em <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string | replace:'Jan','Jan' | replace:'Feb','Fev' | replace:'Mar','Mar' | replace:'Apr','Abr' | replace:'May','Mai' | replace:'Jun','Jun' | replace:'Jul','Jul' | replace:'Aug','Ago' | replace:'Sep','Set' | replace:'Oct','Out' | replace:'Nov','Nov' | replace:'Dec','Dez' }}</time>
                    </p>
                    {% include socialite.html %}
                </section>
            </div>
            {{/post}}
            <div class="isRight">
                <h5 class="index-headline featured"><span>Leia também</span></h5>
                <div class="related">
                    {% for post in site.related_posts limit:1 %}
                    <article class="post">
                    <div class="article-item">
                        <header class="post-header">
                            <h4><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h4>
                        </header>
                        <section class="post-excerpt">
                            <p>{{ post.subtitle }}</p>
                        </section>
                    </div>
                    </article>
                    {% endfor %}
                </div>
            </div>
        </div>
        </article>
        </main>
        {% include bottom-closer.html %}
    </body>
</html>